body {
  /* background: url('./images/camera_main_bg.jpg'); */
  /* background-size: cover;
  background-repeat: repeat; */
  
  height:100vh;
  
  
  

  
}
/* .rootBody {
  background-color: rgba(224, 224, 224, 0.8);
} */


#root {
  position: relative;
  
}
/* Global styles */

.fd-col {  
  flex-direction: column;


}

.fd-row {
  flex-direction: row;
}
.h-centered {
  margin: 0 auto;
}

.jc-sa {
  justify-content: space-around;
}


nav.mainNavbar.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {
  position: sticky;
  top: 0;
  background: white !important;
  /* background: rgba(0, 0, 0, 0.3) !important; */
  height: 100px;
  width: 100%;
  /* margin: 0 auto; */
  
}
nav.mainNavbar.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light .header {
  background: white !important;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;

}
a.navbar-brand {
  border: none !important;
}
nav.mainNavbar.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light .header .navbar-brand h2 {
  color: brown;
  font-size: 50px;
  font-weight: 900;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 15px;
}
nav.mainNavbar.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light .header .navbar-nav {
  display: flex;
  grid-gap: 10px;
}
nav.mainNavbar.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light .header .navbar-nav a {
  border: 1px solid black;

}


nav.mainNavbar.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light .header .navbar-nav a h4 {
  font-size: 15px;
}


.navbar .switch {
  color: beige;
}

.btn-addNewProduct {
  margin: 0 0 0 auto;
  background: green;
  font-weight: 800;
  border-radius: 10px;

}

.btn-addNewProduct, .addNewAdminBtn {
  width: 35% !important;
  margin: 15px auto;
  font-size: 25px !important;

}
.adminPanelBody {
  margin: 250px auto 0 auto;
}
.adminPanelContainer {
  background-color: rgba(206, 193, 193, 0.7);
  
  
  
  margin: 500px auto 0 auto;
  padding: 20px;
  border-radius: 20px;


}
.adminPanelContainer .nav-tabs .nav-item button.nav-link  {
  color: maroon;
  font-weight: 800;
  font-size: 25px;
}

.adminPanel-newProductAddTable {
  color: rgba(165, 42, 42, 0.049);
  border: 2px solid white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
}
.tableHead {
  background: rgba(203, 222, 166, 0.833);
  color: rgba(82, 38, 7, 0.972);
}
.adminPanel-newProductAddTable td {
  background: rgba(203, 222, 166, 0.833);
  color: rgb(98, 13, 13);
  font-weight: 700;
}
.addNewCameraModal {
  
  padding: 10px;
  position: absolute;
  
  top:50px;
  left:400px;
  background:rgba(154, 205, 50,0.3);
  
  height: 500px;
  color: brown;
  width: 300px;
}
.addNewAdminModal {
  
  padding: 10px;
  position: absolute;
  
  top:50px;
  left:400px;
  background:rgba(154, 205, 50,0.3);
  
  height: 500px;
  color: brown;
  width: 300px;
}
.addNewAdminBtn {
  background: wheat;
  color: green;
  font-weight: 800;
}
.modal-dialog {
  padding : 10px;
}
input {
  background: rgba(255, 255, 255, 0.444);
  color: darkgreen;
  width: 200px;
}

.adminPanel-newProductAddTable .buttons {
  justify-content: center;
  display: flex;
  grid-gap: 25px;
}
.hCentered {
  margin: 0 auto;
}
.m-0 {
  margin: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.mr-20 {
  margin-right: 20px;
}

.f-dir-col {
  display: flex;
  flex-direction: column;
}
.f-dir-row {
  display: flex;
  flex-direction: row;
}
.ta-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}
.h-100 {
  height: 100%;
}

.btn-red {
  background: rgba(255, 0, 0, 0.583);
  font-weight: 800;
}
.btn-yellow {
  background: rgb(255, 255, 0,0.583);
  color: brown;
  font-weight: 800;
}
.btn-green {
  background: rgb(0, 128, 0,0.583);
  font-weight: 800;

}
.admin-login-form {
  margin: 0 auto;
  width: 250px;
}
body {
  position: relative;
}
.navbar{
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  height: 100px;
}

.navbar .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  background: green !important;
  background-color: green;
  justify-content: space-between;
  
}

.navbar-brand {
  margin-left: 50px;
  border: 3px solid green;
  color: blanchedalmond;
  font-weight: 900;
  font-size: 50px;
  padding: 20px 15px;
  border-radius: 8px;
  

}
.navbar h2 {
  color: beige;
}

.navbar .header .links {
  
  text-align: center;
  margin: auto 50px 10px 0;
  vertical-align: middle;
  
  border-radius: 10px;
  height: 100%;
  width: 200px;
  vertical-align: middle;

  
}


.navbar .header .links h4 {
  color: beige;
  margin:0 auto;
}
.navbar .header .links a {
  margin: auto 0;
}

table.bordered {
  border: 1px solid white;

}

/* Login Page */
.loginContent {
  /* position: absolute;
  top:350px;
  left: 200px; */
  margin: 250px auto;
  width: 60%;
  
  
  
  
}
.loginContent h2 {
  font-size: 40px;
  padding: 10px;
  width: 60%;
  color: brown;
  margin: auto 0;
}
.loginContent .loginButtons {
  padding: 10px;
  color: white;
  
}
.loginContent .loginButtons .userLogin , .loginContent .loginButtons .adminLogin {
  background: brown;
  color: white;
  width: 120px;
  height: 60px;
  font-size: 20px;
}

/* Admin Panel */



/* HomePage */


section.mainSection .container {
  padding: 0 50px;
  
}
section.mainSection .container .searchArea {
  display: flex;
  grid-gap: 30px;
}


.homePageContent h1 {
  color: beige;
  background: rgba(0,0,0,0.5 );
  width: 30%;
  text-align: center;

}
.homePageContent ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 5px 0;
}

.homePageContent li {
  
  
  font-size: 30px;
  
  list-style: none;
}

.homePageContent .productCard {
  background: white;
  border-radius: 20px;
  margin: 10px 0 0 0 !important;
  padding: 10px 15px;
  height: 100%;
}
.homePageContent li row col img {
  
  border: 2px dotted white;
  width: 100px !important;
  height: 100px !important;
  
  margin: 0 auto;
}

.homePageContent .imageCard {
  
  text-align: center;
  padding: 20px 0;
  
}
.m-0.ProductDetails.col {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
}





/* Admin Login */

.adminLoginBody {
  margin: 250px auto 0 auto;
  text-align: center;
}

.adminLoginBody h2, .adminLoginBody form {
  color: beige;
  background: rgba(0,0,0,0.5 );
  width: 30%;
  margin: 0 auto;
  padding: 20px;

}
.adminLoginBody form input {
  margin: 5px 0 5px 5px;
  background: white;
  color: brown;
}


/* UserLogin Component */



.d-flex.justify-content-center.align-items-center.vh-100.user-login-container.container {
  margin: 250px auto;
  height: 250px !important;
  width: 40% !important;
  background-color: #ffffff; 
  
  margin: 250px auto auto auto;
  padding: 20px;
  border-radius: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.user-login-box {
  width: 300px;
}

.login-text {
  font-size: 18px;
  font-weight: bold;
  color: #333333; /* Dark color for text */
}

.login-button {
  width: 100%;
  font-size: 16px;
}

/* Shopping Cart */



.shoppingCartContent.container h1 {
  color: beige;
  margin-top: 150px;
}
.shoppingCartContent.container div.row {
  background: beige;
}


/* Carousel */
.carousel {
  position: relative;
  width: 70%;
  margin: 0 auto;
  
}



.custom-arrow {
  font-size: 2rem;
  color: #000;
}

.custom-arrow.left {
  left: 10px;
}

.custom-arrow.right {
  right: 10px;
}




@media screen and (max-width: 991px) {
  /* Home Page */
  .homePageContent {
    margin: 150px 0 0 0 !important;
  

  }
/* Shopping Cart */

  .cartContent.container {
    margin: 150px 0 0 0 !important;
  }

  /* Admin Panel */

  .url{
    max-width: 80px !important;
    text-wrap: wrap;
    overflow: hidden;
  }
  .id {
    max-width: 100px !important;
    overflow: hidden;
  }
}