body {
  background: url('./images/camera_main_bg.jpg');
  
}

#root {
  position: relative;
  
}
.rootBody {
  
  min-height: 500px;
  position: relative;
}



.btn-addNewProduct {
  margin: 0 0 0 auto;
  background: green;
  font-weight: 800;
  border-radius: 10px;

}

.btn-addNewProduct, .addNewAdminBtn {
  width: 35% !important;
  margin: 15px auto;
  font-size: 25px !important;

}
.adminPanelContainer {
  background-color: rgba(206, 193, 193, 0.7);
  
  position: absolute;
  top: 250px;
  left:60px;
  padding: 20px;
  border-radius: 20px;


}
.adminPanelContainer .nav-tabs .nav-item button.nav-link  {
  color: maroon;
  font-weight: 800;
  font-size: 25px;
}

.adminPanel-newProductAddTable {
  color: rgba(165, 42, 42, 0.049);
  border: 2px solid white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.tableHead {
  background: rgba(203, 222, 166, 0.833);
  color: rgba(82, 38, 7, 0.972);
}
.adminPanel-newProductAddTable td {
  background: rgba(203, 222, 166, 0.833);
  color: rgb(98, 13, 13);
  font-weight: 700;
}
.addNewCameraModal {
  border: 3px solid white;
  padding: 10px;
  position: absolute;
  
  top:50px;
  left:400px;
  background:yellowgreen;
  border-radius: 10px;
  height: 500px;
  color: brown;
  width: 300px;
}
.addNewAdminModal {
  border: 3px solid white;
  padding: 10px;
  position: absolute;
  
  top:50px;
  left:400px;
  background:yellowgreen;
  border-radius: 10px;
  height: 500px;
  color: brown;
  width: 300px;
}
.addNewAdminBtn {
  background: wheat;
  color: green;
  font-weight: 800;
}
.modal-dialog {
  padding : 10px;
}
input {
  background: rgba(255, 255, 255, 0.444);
  color: darkgreen;
  width: 200px;
}

.adminPanel-newProductAddTable .buttons {
  justify-content: center;
  display: flex;
  grid-gap: 25px;
}
.hCentered {
  margin: 0 auto;
}
.mt-10 {
  margin-top: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.mr-20 {
  margin-right: 20px;
}

.f-dir-col {
  display: flex;
  flex-direction: column;
}
.f-dir-row {
  display: flex;
  flex-direction: row;
}
.ta-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}
.h-100 {
  height: 100%;
}

.btn-red {
  background: rgba(255, 0, 0, 0.583);
  font-weight: 800;
}
.btn-yellow {
  background: rgb(255, 255, 0,0.583);
  color: brown;
  font-weight: 800;
}
.btn-green {
  background: rgb(0, 128, 0,0.583);
  font-weight: 800;

}
.admin-login-form {
  margin: 0 auto;
  width: 250px;
}
body {
  position: relative;
}
.navbar{
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  height: 100px;
}

.navbar .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  background: green !important;
  background-color: green;
  justify-content: space-between;
  
}

.navbar-brand {
  margin-left: 50px;
  border: 3px solid green;
  color: blanchedalmond;
  font-weight: 900;
  font-size: 50px;
  padding: 20px 15px;
  border-radius: 8px;
  

}
.navbar h2 {
  color: beige;
}

.navbar .header .links {
  
  text-align: center;
  margin: auto 50px 10px 0;
  vertical-align: middle;
  border: 2px solid rgb(202, 179, 150);
  border-radius: 10px;
  height: 40px;
  width: 200px;
  vertical-align: middle;

  
}

.navbar .header .links h4 {
  color: beige;
  margin:0 auto;
}

table.bordered {
  border: 1px solid white;

}

/* Login Page */
.loginContent {
  /* position: absolute;
  top:350px;
  left: 200px; */
  margin: 250px auto;

  background-color: rgba(0,0,0,0.3);
  
  
}
.loginContent h2 {
  font-size: 40px;
  padding: 10px;
  color: antiquewhite;
}
.loginContent .loginButtons {
  padding: 10px;
}


/* HomePage */

section.mainSection .container {
  padding: 0 50px;
}
section.mainSection .container .searchArea {
  display: flex;
  grid-gap: 30px;
}